* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  background-color: #111;
  margin: auto;
}
nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "CursorFont";
}
#logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}
#logo img {
  height: 25px;
  width: 25px;
}
.links a {
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
}
.links a:hover {
  color: #c0bcbc;
}

.navBtn button {
  padding: 4px 14px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 20px;
}
#signinBtn {
  border: 0.1px solid #918f8f;
  margin-right: 8px;
}
#downloadBtn {
  background-color: #fff;
  color: #111;
}
.navBtn button:hover {
  cursor: pointer;
}

/* Hero section */
section {
  margin-top: 80px;
}
section h1 {
  font-size: 28px;
}
section img {
  border-radius: 10px;
}
#hero-cta-btn {
  margin: 40px 0;
  background-color: #fff;
  color: #111;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* Trusted By and Logo Section */
#trustedBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#Card {
  display: flex;
  gap: 15px;
}
#Card div {
  height: 100px;
  width: 150px;
  padding: 15px;
}
#logoCard img {
  height: 100px;
  width: 150px;
  padding: 20px;
  background-color: #444242;
}

.box {
  text-align: center;
  color: var(--color-white);
  max-height: 100px;
  background-color: var(--color-box);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7.5px;
}

.box img {
  height: 40px;
  background: transparent;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  gap: 8px;
  align-items: center;
  margin-top: 20px;
}

.big-box-container {
  padding: calc(calc(10rem / 16) * 1.75);
  background-color: var(--color-box);
  border-radius: 4px;
}

.big-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.big-box-text {
  font-size: 22px;
  padding: 0 30px 0 2.5px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.big-box-text h3 {
  font-size: 22px;
}

.big-box img {
  width: 840px;
}
.big-box-subheading {
  font-size: 22px;
  color: var(--color-text-secondary);
}

/* Testimonial Section style */
.testimonial {
  margin-top: 100px;
}
#testimonial-title {
  margin-top: 80px;
  text-align: center;
  font-size: 32px;
}
.card-parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 80px;
}
.card {
  height: 250px;
  width: 400px;
  padding: 10px;
  position: relative;
  background-color: #444242;
}
.card-title {
  font-size: 18px;
  font-weight: 300;
  color: #e0dbdb;
  background-color: transparent;
}
.card-footer {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  background-color: transparent;
}
.card-footer div img {
  height: 50px;
  width: 50px;
}
.footer-image {
  background-color: transparent;
}
.author-parent {
  background-color: transparent;
}
.author-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
}
.author-company {
  color: #e0dbdb;
  font-size: 16px;
  background-color: transparent;
}

/* Usecases or Stories Sections */
#stories {
  margin-top: 200px;
}
#stories h1 {
  margin-top: 50px;
  font-size: 32px;
}
#storiesCardParent {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#storiesCard {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#storiesCard h4 {
  font-size: 20px;
}
#storiesCard p {
  margin: 10px 0;
  font-size: 18px;
  color: #e0dbdb;
}
#storiesCard a {
  text-decoration: none;
}
#storiesCard a p {
  font-size: 20px;
  color: #ff0000;
  font-weight: 300;
}
#storiesCard img {
  width: 400px;
}

/* Changelog Sections*/
#changelog h2 {
  font-size: 28px;
  font-weight: 400;
}
#changelog a {
  text-decoration: none;
}
#changelog a p {
  font-size: 18px;
  color: #ff0000;
  font-weight: 400;
}
.changelogCard-parent {
  display: flex;
  gap: 25px;
  align-items: center;
}
.changelogCard {
  margin-top: 30px;
  margin-bottom: 20px;
  height: 100px;
  width: 300px;
  padding: 10px;
  background-color: #444242;
  border-radius: 10px;
}
.changelogCard div {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 40px;
}
.changelogCard div .badge {
  border-radius: 20px;
  padding: 2px 16px;
  border: 0.8px solid #c0bcbc;
}
.changelogCard-para {
  margin-top: 10px;
  font-size: 18px;
}

/* About / Team Sections */
#about {
  margin-top: 150px;
  padding: 10px;
}
#about div h2 {
  margin: 8px 0;
  font-size: 34px;
  font-weight: 500;
}
.about-CTA {
  background-color: #fff;
  color: #111;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 22px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 40px 0;
}
.about-CTA span {
  color: #111;
}
.about-pic img {
  height: 720px;
}

/* Final CTA */
.final-CTA {
  width: full;
  height: 400px;
  background-color: #14120b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.final-CTA h1 {
  font-size: 60px;
}
.final-CTA button {
  background-color: #fff;
  color: #111;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* Footer */
footer {
  height: 300px;
}
.footer-main {
  margin-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.footer-main div {
  line-height: 30px;
  font-size: 16px;
}

.heading {
  color: #918f8f;
}

.copyright {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.copyright p {
  color: #918f8f;
  cursor: pointer;
}
.copyright p:hover {
  color: #fff;
}
