* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: auto;
}
nav {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}
#logo img {
  height: 25px;
  width: 25px;
}
.links a {
  margin: 10px;
  text-decoration: none;
}
.links a:hover {
  color: #918f8f;
}

.navBtn button {
  padding: 4px 14px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 20px;
}
#signinBtn {
  border: 0.1px solid #918f8f;
}
#downloadBtn {
  background-color: #fff;
  color: #111;
}
.navBtn button:hover {
  cursor: pointer;
}
