* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: auto;
}
nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}
#logo img {
  height: 25px;
  width: 25px;
}
.links a {
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
}
.links a:hover {
  color: #c0bcbc;
}

.navBtn button {
  padding: 4px 14px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 20px;
}
#signinBtn {
  border: 0.1px solid #918f8f;
  margin-right: 8px;
}
#downloadBtn {
  background-color: #fff;
  color: #111;
}
.navBtn button:hover {
  cursor: pointer;
}

/* Hero section */
section {
  margin-top: 80px;
}
section h1 {
  font-size: 28px;
}
section img {
  border-radius: 10px;
}
#hero-cta-btn {
  margin: 40px 0;
  background-color: #fff;
  color: #111;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* Trusted By and Logo Section */
#trustedBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#Card {
  display: flex;
  gap: 15px;
}
#Card div {
  height: 100px;
  width: 150px;
  padding: 15px;
}
#logoCard img {
  height: 100px;
  width: 150px;
  padding: 20px;
  background-color: #444242;
}

/* Features Section style */
.feature {
  margin-top: 100px;
}
#feature-title {
  margin-top: 80px;
  text-align: center;
  font-size: 32px;
}
.card-parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 80px;
}
.card {
  height: 250px;
  width: 400px;
  padding: 10px;
  position: relative;
  background-color: #444242;
}
.card-title {
  font-size: 18px;
  font-weight: 300;
  color: #e0dbdb;
  background-color: transparent;
}
.card-footer {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  background-color: transparent;
}
.card-footer div img {
  height: 50px;
  width: 50px;
}
.footer-image {
  background-color: transparent;
}
.author-parent {
  background-color: transparent;
}
.author-name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
}
.author-company {
  color: #e0dbdb;
  font-size: 16px;
  background-color: transparent;
}

/* Final CTA */
.final-CTA {
  width: full;
  height: 400px;
  background-color: #14120b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.final-CTA h1 {
  font-size: 60px;
}
.final-CTA button {
  background-color: #fff;
  color: #111;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* Footer */
footer {
  height: 300px;
}
.footer-main {
  margin-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.footer-main div {
  line-height: 30px;
  font-size: 16px;
}

.heading {
  color: #918f8f;
}

.copyright {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.copyright p {
  color: #918f8f;
  cursor: pointer;
}
.copyright p:hover {
  color: #fff;
}
